.general-information{
    display: flex;
    justify-content:space-between;
    margin-top: 2rem;
    padding: 1rem;
    width: 100vw;

}
.me{
    width: 40%;
    display: flex;
    justify-content: center;

}
.my-imformation {
    width: 60%;
    display: flex;
    justify-content: center;
    padding-right: 10rem;

}
p{
    color: #ffffff;
    font-size: 1.5rem;
}