.projects{
    display: flex;
    flex-direction: row;
    width: 98vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    gap: 1rem;
}
.projects-cards{
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 1rem;
    background-color: #000000;
    border-radius: 1rem;
}
.description{
    padding: .5rem;
    width: 60%;
    font-size: 1.4rem;
    color:#ffffff ;
}
.tittle{
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: #ffffff;
    font-size: 2rem;
}
.img-projects{
    padding-top: .7rem;
    padding-left: .5rem;
}