.contact{
padding: 1rem;
gap: 3rem;
width: 100vw; 
display: flex;
flex-direction: row;
background-color: rgb(11, 27, 87);
}
.contact-me{
    gap: 5rem;
    color: #ffff;
    width: 50%;
    padding-left: 5rem;
}
p{
    margin-top: 1rem; 
}

.your-contact{
    color: #ffff;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-left: 3rem;
}

.comment{
    margin-top: 2.2rem;
}

.input-comment{
    width: 20rem;
    height: 5.5rem;
}
input{
    border-radius: 1rem;
}